<h1>About the Short Story app</h1>
<p>This app was created by Lucas Dia using the openai api.</p>
<p>The user enters a prompt, which is then passed to the openai api after being eddited to have "Use the following as inspiration to write a happy short story that is between 500 and 600 words: " at the front.</p>
<p>Then the response is displayed in the browser for the user to read.</p>