<h1>Team page</h1>
<p>This app was created by Lucas Dia using the openai api.</p>
<p>I am a sophmore majoring in CS, Econ and minoring in Math. I am also on the XC/TF teams at Brandeis</p>
<p>I worked by myself on this project so there are no other team members, so I wrote everything</p>